packages/*
AMOFGameEngine/obj/*
AMOFGameEngine/bin/Debug/*
AMOFGameEngine/bin/*.pdb
AMOFGameEngine/bin/*.exe
AMOFGameEngine/bin/*.xml
AMOFGameEngine/bin/*.back
AMOFGameEngine/bin/*.log
AMOFGameEngine/*.cd