packages/*
Debug/*
*/Debug/*
*/obj/*
*.pdb
*.exe
*.vshost.exe
*.manifest
*.log
*.suo
*.cache
*.Cache
*.FileListAbsolute.txt
*.resources
*.cfg
*.cs.dll
*.bi
*.metagen
*.db
*.opendb
*.ipch
*.tlog
*.obj
*.resources
*.ilk

*.brf
*.dds
*.tga
*.ogg
*.wav
*.mp3
*.flac
*.fxo
*.pp