packages/*
Debug/*
*/Debug/*
*/obj/*
*.pdb
*.exe
*.vshost.exe
*.manifest
*.log
*.suo
*.config
*.cache
*.Cache
*.FileListAbsolute.txt
*.resources
*.cfg
*.cs.dll
*.bi
*.metagen
*.db
*.opendb
*.ipch
*.tlog
*.obj
*.resources
*.ilk