<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.7.3" targetFramework="net40" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net40" />
  <package id="NVorbis" version="0.8.5.0" targetFramework="net40" />
  <package id="NVorbis.NAudioSupport" version="0.5.6.1" targetFramework="net40" />
</packages>