<Module>
  <Info>
    <Name>Sample</Name>
    <Description>Sample mod for AMOFGameEngine</Description>
    <Version>1.0</Version>
    <Thumb>Thumb.png</Thumb>
  </Info>
  <Assembly>AMOFGameEngine.Mods.Sample</Assembly>
  <Data>
    <Characters>Characters.xml</Characters>
    <Music>Music.xml</Music>
    <Sound>Sound.xml</Sound>
    <Items>Items.xml</Items>
    <Sides>Side.xml</Sides>
  </Data>
  <Media></Media>
  <Scripts></Scripts>
  <Maps></Maps>
</Module>