<Module>
  <Info>
    <Name>Ogniem i Mieczem</Name>
    <Description>Mount Blade With Fire and Sword</Description>
    <Version>1.143</Version>
    <Thumb>Sample_Thumb.png</Thumb>
  </Info>
  <Data>
    <Characters>Characters.xml</Characters>
    <Music>Music.xml</Music>
    <Sound>Sound.xml</Sound>
    <Items>Items.xml</Items>
    <Sides>Side.xml</Sides>
    <Skin>Skin.xml</Skin>
    <Maps>Maps.xml</Maps>
    <WorldMaps>WorldMaps.xml</WorldMaps>
    <Locations>Locations.xml</Locations>
    <Skeletons>Skeletons.xml</Skeletons>
  </Data>
  <Media>
    <MediaSection Type="FileSystem">Media/Resources</MediaSection>
    <MediaSection Type="FileSystem">Media/Textures</MediaSection>
    <MediaSection Type="FileSystem">Media/Overlay</MediaSection>
    <MediaSection Type="FileSystem">Scripts</MediaSection>
    <MediaSection Type="FileSystem">Music</MediaSection>
    <MediaSection Type="FileSystem">Sound</MediaSection>
    <MediaSection Type="FileSystem">Scenes</MediaSection>
  </Media>
  <Startup>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
	<Action Type="LoadModResource"></Action>
  </Startup>
</Module>