<Module>
  <Info>
    <Name>Ogniem i Mieczem</Name>
    <Description>Mount Blade With Fire and Sword</Description>
    <Version>1.143</Version>
    <Thumb>Sample_Thumb.png</Thumb>
	<Assemblies>
		<Assembly>common|OpenMB.Mods.Common</Assembly>
		<Assembly>this|OpenMB.Mods.OIM</Assembly>
	</Assemblies>
	<DisplayInChooser>true</DisplayInChooser>
  </Info>
  <Data>
    <Animations>Animations.xml</Animations>
    <Characters>Characters.xml</Characters>
    <Items>Items.xml</Items>
    <ItemTypes>ItemTypes.xml</ItemTypes>
    <Locations>Locations.xml</Locations>
    <Maps>Maps.xml</Maps>
    <Menus>Menus.xml</Menus>
    <Models></Models>
    <Music>Music.xml</Music>
    <SceneProps>SceneProps.xml</SceneProps>
    <Skeletons>Skeletons.xml</Skeletons>
    <Skin>Skin.xml</Skin>
    <Sides>Side.xml</Sides>
    <Sound>Sound.xml</Sound>
    <WorldMaps>WorldMaps.xml</WorldMaps>
	<DataDir>
		<MapDir>Scenes</MapDir>
		<MusicDir>Music</MusicDir>
		<ScriptDir>Scripts</ScriptDir>
	</DataDir>
  </Data>
  <Media>
    <MediaSection ResourceLoadType="FileSystem" ResourceType="Models">Media/Resources</MediaSection>
    <MediaSection ResourceLoadType="FileSystem" ResourceType="Textures">Media/Textures</MediaSection>
    <MediaSection ResourceLoadType="FileSystem" ResourceType="Common">Media/Overlay</MediaSection>
    <MediaSection ResourceLoadType="FileSystem" ResourceType="Scripts">Scripts</MediaSection>
    <MediaSection ResourceLoadType="FileSystem" ResourceType="Music">Music</MediaSection>
    <MediaSection ResourceLoadType="FileSystem" ResourceType="Sound">Sound</MediaSection>
    <MediaSection ResourceLoadType="FileSystem" ResourceType="Maps">Scenes</MediaSection>
  </Media>
  <Settings>
  </Settings>
</Module>