<Module>
  <Info>
    <Name>Uprising of Brelan Empire</Name>
    <Description>Uprising of Brelan Empire</Description>
    <Version>1.0</Version>
    <Thumb>Sample_Thumb.png</Thumb>
  </Info>
  <Data>
    <Characters>Characters.xml</Characters>
    <Music>Music.xml</Music>
    <Sound>Sound.xml</Sound>
    <Items>Items.xml</Items>
    <Sides>Side.xml</Sides>
    <Skin>Skin.xml</Skin>
    <Maps>Maps.xml</Maps>
    <WorldMaps>WorldMaps.xml</WorldMaps>
    <Locations>Locations.xml</Locations>
  </Data>
  <Media>
    <MediaSection Type="FileSystem">Media/Materials</MediaSection>
    <MediaSection Type="FileSystem">Media/Models</MediaSection>
    <MediaSection Type="FileSystem">Media/Overlay</MediaSection>
    <MediaSection Type="FileSystem">Media/Textures</MediaSection>
    <MediaSection Type="FileSystem">Scripts</MediaSection>
  </Media>
  <Maps>
	<MapDir>Scenes</MapDir>
  </Maps>
</Module>