template container Panel(AMGE/UI/HorizalLine)
{
	material AMGE/Engine/BackHorizalLine
	metrics_mode relative
	uv_coords 0.375 0.375 0.625 0.625
	left 0
	width 0.6
	height 0.001
	top 0
}

template container Panel(AMGE/UI/VerticalLine)
{
	material AMGE/Engine/BackVerticalLine
	metrics_mode relative
	uv_coords 0.375 0.375 0.625 0.625
	left 0
	width 0.001
	height 0.6
	top 0
}