template container BorderPanel(AMGE/UI/PushButton)
{
	metrics_mode pixels
	material SdkTrays/Button/Up
	horz_align center
	left 0
	top 0
	height 32
	uv_coords 0.145 0.000 0.855 1.000
	
	border_material SdkTrays/Button/Up
	border_size 16 16 0 0
	border_left_uv  0.000 0.000 0.125 1.000
	border_right_uv 0.875 0.000 1.000 1.000

	element TextArea(PushButtonCaption)
	{
        metrics_mode pixels
        horz_align center
        vert_align center
        alignment center
        font_name SdkTrays/Caption
        char_height 15
        space_width 7
        colour 0 0 0
	}
}